@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .swiper-pagination-bullet {
    @apply bg-secondary opacity-60 transition-opacity duration-300;
  }
  .swiper-pagination-bullet-active {
    @apply bg-secondary opacity-100;
  }
}

@font-face {
  font-family: "dm-sans";
  src: url("../src/fonts/dm\ sans/DM_Sans/static/DMSans_18pt-Regular.ttf");
}
@font-face {
  font-family: "nunito-sans";
  src: url("..src/fonts/nunito sans/Nunito/static/Nunito-Regular.ttf");
}
