@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .swiper-pagination-bullet {
    @apply bg-secondary opacity-60 transition-opacity duration-300;
  }
  .swiper-pagination-bullet-active {
    @apply bg-secondary opacity-100;
  }
}

@font-face {
  font-family: "dm-sans";
  src: url("../src/fonts/dm\ sans/DM_Sans/static/DMSans_18pt-Regular.ttf");
}
@font-face {
  font-family: "nunito-sans";
  src: url("..src/fonts/nunito sans/Nunito/static/Nunito-Regular.ttf");
}
.auth-gradient {
  background-image: url("../src/assets/auth1.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.562);
  background-blend-mode: overlay;
}
.lock-gradient {
  background-image: url("../src/assets/lock.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.562);
  background-blend-mode: overlay;
}
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: #0d8c42;
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: #da7656;
  }
}
